#banner{
     background: #FFF9F4;
     padding: 100px 0px;
}
.banner-title{
        font-size: 70px;
        font-weight: 700;
        line-height: 80px;
        text-transform: uppercase;
}
.banner-title span{
color: orange;
}
img{
    max-width: 100%;
}
.body{
    background-color: #E6E6E6;
}
.navbar .nav-item {
    margin-left: 20px;
}
.navbar{
    z-index: 999;
}
.card-imgs{
        background-color: #fdeee2e5;
}
@media only screen and (max-width:576px) {
    .navbar-brand{
        width: 100%;

    }
    .navbar-brand img{
        width: 100%;

    }
 .banner-title {
     font-size: 35px;
     font-weight: 700;
     line-height: 40px;
     text-transform: uppercase;
 }
 .gift-box {
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }
 .gift-img{
    text-align: center;
 }
 .gift-text{
    text-align: center;
 }
}
